pipeline/air_ingestion.json
{
	"name": "air_ingestion",
	"properties": {
		"activities": [
			{
				"name": "key_vault_connector",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "https://openweatherapi-taclin.vault.azure.net/secrets/openweatherAPI-key?api-version=7.0\n\n",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "ingest_air_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "key_vault_connector",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "air",
						"type": "DatasetReference",
						"parameters": {
							"appid": {
								"value": "@activity('key_vault_connector').output.value",
								"type": "Expression"
							},
							"lat": 42.36,
							"lon": -71.05,
							"dataType": "hour",
							"start": {
								"value": "@div(sub(ticks(addDays(utcNow(), -365)), ticks('1970-01-01T00:00:00Z')), 10000000)\n",
								"type": "Expression"
							},
							"end": {
								"value": "@div(sub(ticks(utcNow()), ticks('1970-01-01T00:00:00Z')), 10000000)\n",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "air_bronze_result",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"test": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}